<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wsoftpro\Mobile\Api\HomepageInterface"
                type="Wsoftpro\Mobile\Helper\Data" />


    <preference for="WeltPixel\OwlCarouselSlider\Block\Adminhtml\Banner\Edit\Tab\Banner"
                type="Wsoftpro\Mobile\Block\Adminhtml\Banner\Edit\Tab\Banner" />

    <preference for="WeltPixel\OwlCarouselSlider\Block\Adminhtml\Slider\Edit\Tab\Form"
                type="Wsoftpro\Mobile\Block\Adminhtml\Slider\Edit\Tab\Form" />

    <preference for="WeltPixel\OwlCarouselSlider\Helper\Custom"
                type="Wsoftpro\Mobile\Helper\Custom" />

    <preference for="WeltPixel\OwlCarouselSlider\Controller\Adminhtml\Slider\Save"
                type="Wsoftpro\Mobile\Controller\Adminhtml\Slider\Save" />

</config>